@media (max-width:1000px) {
  .works__content{
    width:50%;
    padding: 0 25px;
    margin-bottom:50px;
  }

  .works{
    height: 3650px;
    background-color: #F5F5F5;
  }
}

@media (max-width:670px) {
  .works__content{
    width:100%;
    padding: 0 25px;
    margin-bottom:50px;
  }

  .works{
    height: 7700px;
    background-color: #F5F5F5;
  }


}